---
import Button from "../ui/Button.astro";
import Section from "../ui/Section.astro";
---

<Section
  id="about"
  title="Quem sou eu?"
  subtitle="Me considero um desenvolvedor full stack. Sou especializado em front-end e tecnologias modernas baseadas em JavaScript."
>
  <div class="grid md:grid-cols-2 gap-12 items-center">
    <div class="relative">
      <div class="relative z-10 overflow-hidden p-1">
        <div class="w-full h-full overflow-hidden">
          <img
            src="/assets/svgs/about_foto.svg"
            alt="Desenvolvedor Front-end"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <!-- Background decoration -->
      <div
        class="absolute top-10 -left-6 w-28 h-28 bg-primary/20 dark:bg-primary/10 rounded-full filter blur-xl"
      >
      </div>
      <div
        class="absolute -bottom-6 -right-6 w-28 h-28 bg-secondary/20 dark:bg-secondary/10 rounded-full filter blur-xl"
      >
      </div>
    </div>

    <div class="space-y-6">
     

      <p class="text-gray-600 dark:text-gray-300">
        Capricorniano (workaholic), casado, pai de
        dois filhos incríveis (menino e menina) e dois pets que acham que são gente. 
        <br /><br />
        Já passei por algumas das maiores big techs do Brasil — Kavak, QuintoAndar e Netshoes (Luizalabs). Experiência comprovada em projetos de grande escala e alto impacto (milhões de usuários). <br /><br />
        Formado em Análise e Desenvolvimento de Sistemas com MBA em Gestão de Tecnologia
        da Informação. Certificado Scrum, Itil e Vue.js Developer. <br /><br />
        Já são mais de 15 anos na tecnologia — sendo 8 deles focados em Desenvolvimento Web —
        já vi de tudo: IE6, jQuery, Flash, Dreamweaver, XAMPP, Web Components ... pude usar React e Vue.js desde suas primeiras versões. Atualmente tenho me aprofundado em IA (tenho trabalhado bastante com automação n8n) .
        
      </p>



      <div class="pt-2">
        <Button href="/cv.pdf" target="_blank" size="lg">Download CV</Button>
      </div>
    </div>
  </div>
</Section>

